body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f0f4f8;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
  font-size: 52px;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(4, 150px);
  gap: 10px;
  justify-content: center;
  margin-top: 30px;
}

.card {
  width: 150px;
  height: 150px;
  background-color: #A91D54;
  border-radius: 10px;
  font-size: 2rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transform: rotateY(0);
  transition: transform 0.4s, box-shadow 0.3s, transform 0.2s;
  user-select: none;
  box-shadow: 2px 2px 6px 3px grey;
}

/* Hover effect only if not flipped */
.card:not(.flipped):hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(30, 144, 255, 0.5);
}


.card.flipped {
  background-color: #fff;
  color: #333;
  cursor: default;
  transform: rotateY(180deg);
}
